Package: rscc
Version: 0.6.3
Section: misc
Priority: extra
Maintainer: Ronny Standtke <Ronny.Standtke@gmx.net>
Homepage: http://www.imedias.ch/lernstick
Architecture: all
Depends: java-runtime | xtightvncviewer | x11vnc | openssl | stunnel4
Description: Remote Support Control Center
 A GUI for establishing and offering secure reverse VNC connections.
