build/
build-stamp                                                                                                                                                                                                                                                            
configure-stamp                                                                                                                                                                                                                                                        
debian/files                                                                                                                                                                                                                                                           
debian/rscc/
debian/rscc.debhelper.log                                                                                                                                                                                                                                              
debian/rscc.substvars                                                                                                                                                                                                                                                  
dist/
nbproject/private/
