#header {
    -fx-background-color: #eeeeee;
    -fx-padding: 10;
}

#headerText {
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
    -fx-font-family: Cantarell;
}
#settingsBtn{
    -fx-background-insets: 5px;
}

#helpBtn{
    -fx-background-insets: 5px;
}
