/***************************************************************************
 *                                                                         *
 *                             HeaderView                                  *
 *                                                                         *
 **************************************************************************/

* {
    -fx-font-family: Cantarell;
}

#header {
    -fx-background-color: #eeeeee; /* macarena */
    /*-fx-padding: 10;*/
}

#helpBtn, #backBtn, #settingsBtn, #reloadKeyBtn{
    /*-fx-padding: 5;*/
    -fx-background-radius: 4px;
    -fx-border-radius:4px;
    -fx-border-color:#A7A7A7;
    -fx-background-color: #EAEAEA;
}

#helpBtn:hover, #backBtn:hover, #settingsBtn:hover, #reloadKeyBtn:hover{
    -fx-background-color: #f7f7f7;
    -fx-cursor: hand;
}

/***************************************************************************
 *                                                                         *
 *                             HomeView                                    *
 *                                                                         *
 **************************************************************************/

.HomeNavigationBtn{
    -fx-fit-to-width: true;
    -fx-content-display: left;
    -fx-border-color:#A7A7A7;
    -fx-background-radius: 4px;
    -fx-border-radius:4px;
    -fx-font-family: "DejaVu Sans";
    -fx-background-color: #EAEAEA;
}

.HomeNavigationBtn:hover {
    -fx-background-color: #f7f7f7;
    -fx-cursor: hand;
}

.homeButtonBoxes {
    -fx-spacing: 80;
}

.BigFont{
    -fx-font-size: 2.538em;
}

.SmallFont{
    -fx-font-size: 1.846em;
}

#contentBox {
    -fx-spacing: 1.538em;
}

/***************************************************************************
 *                                                                         *
 *                       RequestView & SupportView                         *
 *                                                                         *
 **************************************************************************/
.descriptionLbl{
    -fx-wrap-text: true;
    -fx-alignment: center-left;
    -fx-font-size: 1.654em;
    -fx-padding: 1.538em;
}

.titleLbl {
    -fx-font-size: 2.256em;
    -fx-wrap-text: true;
    -fx-alignment: center-left;
    -fx-padding: 1.538em;
    -fx-font-weight: bold;
}

.statusBox{
    -fx-alignment: center;
}

.statusBoxInitialize{
    -fx-background-color: rgb(240, 173, 78);
    -fx-alignment: center;
}

.statusBoxSuccess{
    -fx-background-color: rgb(92, 184, 92);
    -fx-alignment: center;
}

.statusBoxFail{
    -fx-background-color: rgb(217, 83, 79);
    -fx-alignment: center;
}

.statusLbl{
    -fx-text-fill: white;
    -fx-font-size: 1.231em;
}

.descriptionBox {
    /*-fx-alignment: center-left;*/
    /*-fx-spacing: 50;*/
    /*-fx-padding: 25;*/
}

.keyFld {
    -fx-background-color: #e2e2e2;
    -fx-font-family: Monospaced;
    -fx-font-size: 3.077em;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.titled-pane > .title {
    /*-fx-pref-height: 36.0;*/
    -fx-font-size: 1.641em;
}

/***************************************************************************
 *                                                                         *
 *                             RequestView                                 *
 *                                                                         *
 **************************************************************************/

/* TODO: set tag */
#centerBoxRequest {
    -fx-background-image: url("../images/help_background.svg");
    -fx-background-size: 70%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center top;
}

#reloadKeyBtn {
    /*-fx-padding: 13;*/
}

.supporterDescriptionLbl{
    -fx-wrap-text: true;
    -fx-alignment: center-left;
    -fx-font-size: 1.641em;
    -fx-padding: 1.538em;
}

.supporterBtn {
    -fx-font-size: 1.231em;
    -fx-alignment: center;
    -fx-border-radius: 0.385em;
    -fx-background-color: white;
    -fx-border-color: lightgrey;

}

.supporterBtn:hover{
    -fx-cursor: hand;
    -fx-background-color: lightgrey; /* Green */
    -fx-border-color: lightgrey;
}

/***************************************************************************
 *                                                                         *
 *                             SupportView                                 *
 *                                                                         *
 **************************************************************************/

/* TODO: set tag */
#centerBoxSupport {
    /*-fx-alignment: center;*/
    /*-fx-padding: 10, 20, 10, 20;*/
    /*-fx-spacing: 150;*/
    -fx-background-image: url("../images/supporter_background.svg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center top;
}

#connectBtn, #startServiceBtn{
    -fx-padding: 15 40 15 40;
    -fx-alignment: center;
    -fx-font-size: 1.231;
    -fx-background-radius: 4px;
    -fx-border-radius:4px;
    -fx-border-color:#A7A7A7;
    -fx-background-color: #EAEAEA;
}

#connectBtn:hover, #startServiceBtn:hover{
    -fx-background-color: #f7f7f7;
    -fx-cursor: hand;
}

/***************************************************************************
 *                                                                         *
 *                             Settings Popover                            *
 *                                                                         *
 **************************************************************************/

.settingsBoxes{
    -fx-padding: 30;
}

.slider .thumb {
    -fx-pref-height: 30;
    -fx-pref-width: 30;
    -fx-background-radius: 30px;
    -fx-border-radius:30px;
    -fx-border-color:#A7A7A7;
    -fx-background-color: #EAEAEA;
}

.slider .thumb:hover {
    -fx-cursor: hand;
    -fx-background-color: #f7f7f7;

}

.slider {
    -fx-border-color: white;
    -fx-border-style: dashed;
    -fx-border-width: 2;
}

.sliderTxts {
    -fx-font-size: 200%;
}

.toggles {
    -fx-alignment: baseline-center;
}

.toggles .thumb-area {
    -fx-background-color: #EAEAEA;
    -fx-pref-width: 70;
    -fx-pref-height: 30;
    -fx-padding: 20;
}

.toggles .thumb{
    -fx-pref-width: 40;
    -fx-pref-height: 40;
    -fx-background-radius: 30px;
    -fx-border-radius:30px;
    -fx-border-color:#A7A7A7;
    -fx-background-color: #EAEAEA;
}

.toggles:selected .thumb-area {
    -fx-background-color: #A7A7A7;
}

.toggles .thumb:hover {
    -fx-cursor: hand;

}

.toggles:hover{
    -fx-cursor: hand;
}

.settingsLabels{
    -fx-font-size: 12pt;
}

.expertSettingsBtn{
    -fx-padding: 20 30 20 30;
    -fx-alignment: center;
    -fx-font-size: 12pt;
    -fx-background-radius: 4px;
    -fx-border-radius:4px;
    -fx-border-color:#A7A7A7;
    -fx-background-color: #EAEAEA;
}

.expertSettingsBtn:hover{
    -fx-background-color: #f7f7f7;
    -fx-cursor: hand;
}