/***************************************************************************
 *                                                                         *
 *                             HeaderView                                  *
 *                                                                         *
 **************************************************************************/

#header {
    -fx-background-color: #eeeeee; /* macarena */
    -fx-padding: 10;
}

#headerText {
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
    -fx-font-family: Cantarell;
}

#helpBtn, #backBtn, #settingsBtn{
    -fx-padding: 5;
    -fx-background-radius: 4px;
    -fx-border-radius:4px;
    -fx-border-color:#A7A7A7;
    -fx-font-size: 0.9em;
    -fx-font-family: "DejaVu Sans";
    -fx-background-color: #EAEAEA;
    }

#helpBtn:hover, #backBtn:hover, #settingsBtn:hover{
    -fx-background-color: #f7f7f7;
    -fx-cursor: hand;
}

/***************************************************************************
 *                                                                         *
 *                             HomeView                                    *
 *                                                                         *
 **************************************************************************/

.HomeNavigationBtn{
    -fx-font-size: 18pt;
    -fx-fit-to-width: true;
    -fx-content-display: left;
    -fx-border-color:#A7A7A7;
    -fx-background-radius: 4px;
    -fx-border-radius:4px;
    -fx-font-family: "DejaVu Sans";
    -fx-background-color: #EAEAEA;
}

.HomeNavigationBtn:hover {
    -fx-background-color: #f7f7f7;
    -fx-cursor: hand;
}
/***************************************************************************
 *                                                                         *
 *                             HomePresenter                                    *
 *                                                                         *
 **************************************************************************/
#contentBox {
    -fx-padding: 25;
    -fx-spacing: 20;
    -fx-alignment: center;
}

/***************************************************************************
 *                                                                         *
 *                       RequestView & SupportView                         *
 *                                                                         *
 **************************************************************************/
.descriptionLbl{
    /*-fx-alignment: left;*/
    -fx-wrap-text: true;
}

.titleLbl {
    -fx-font-size: 25;
}

.statusBox{
    -fx-background-color: rgb(240, 173, 78);
    -fx-alignment: center;
}

.statusBox:valid{
    -fx-background-color: rgb(92, 184, 92);
}

.statusBox:invalid{
    -fx-background-color: rgb(217, 83, 79);
}

.statusLbl{
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

/***************************************************************************
 *                                                                         *
 *                             RequestView                                 *
 *                                                                         *
 **************************************************************************/

#descriptionTxt{
    -fx-wrap-text: true;
}

#keyGenerationLbl{
    -fx-font-family: Cantarell;
    -fx-font-size: 30pt;
    -fx-font-weight: bold;
}

#generatedKeyFld{
    -fx-background-color: #e2e2e2;
    -fx-font-family: Monospaced;
    -fx-font-size: 30pt;
}

#additionalDescriptionTxt{
    -fx-wrap-text: true;
}

#centerBox{
    -fx-alignment: center;
    -fx-padding: 10, 20, 10, 20;
    -fx-spacing: 150;
}

#bottomBox{
    -fx-padding: 10 ,20 ,1 ,20;
}

#keyGeneratingBox{
    -fx-alignment: center;
    -fx-spacing: 25;
    -fx-padding: 25;
}

#descriptionBox {
    -fx-alignment: center;
    -fx-spacing: 50;
    -fx-padding: 25;
}

#readyBtn{
    -fx-alignment: bottom-right;
}

#reloadKeyBtn {
    -fx-padding: 13;
}

.titled-pane > .title {
    -fx-pref-height: 36.0;
    -fx-font-size: 14pt;

}

.supporterBtn {

}

/***************************************************************************
 *                                                                         *
 *                             SupportView                                 *
 *                                                                         *
 **************************************************************************/

#SupporterView {
    -fx-padding: 5, 25, 5, 25;
}

#EnterTokenLbl {
    -fx-font-size: 25;
}

/***************************************************************************
 *                                                                         *
 *                             Settings Popover                            *
 *                                                                         *
 **************************************************************************/

#settingsBox{
    -fx-padding: 50;
}

.slider .thumb {
    -fx-pref-height: 25;
    -fx-pref-width: 25;
}

.slider .thumb:hover {
 -fx-cursor: hand;
}

.slider {
    -fx-border-color: white;
    -fx-border-style: dashed;
    -fx-border-width: 2;
}

.sliderTxts {
    -fx-font-size: 200%;

}

.sliderLbls {
 -fx-font-size: 150%;
}

.toggles:selected .thumb-area {
    -fx-background-color: #A7A7A7;
}
