/***************************************************************************
 *                                                                         *
 *                             HeaderView                                  *
 *                                                                         *
 **************************************************************************/

#header {
    -fx-background-color: #eeeeee;
    -fx-padding: 10;
}

#headerText {
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
    -fx-font-family: Cantarell;
}

#helpBtn, #backBtn, #settingsBtn{
    -fx-padding: 5;
    -fx-background-radius: 4px;
    -fx-border-radius:4px;
    -fx-border-color:#A7A7A7;
    -fx-font-size: 0.9em;
    -fx-font-family: "DejaVu Sans";
    -fx-background-color: #EAEAEA;
    }

#helpBtn:hover, #backBtn:hover, #settingsBtn:hover{
    -fx-background-color: #f7f7f7;
    -fx-cursor: hand;
}

/***************************************************************************
 *                                                                         *
 *                             HomeView                                    *
 *                                                                         *
 **************************************************************************/

.HomeNavigationBtn{
    -fx-font-size: 18pt;
    -fx-fit-to-width: true;
    -fx-content-display: left;
    -fx-border-color:#A7A7A7;
    -fx-background-radius: 4px;
    -fx-border-radius:4px;
    -fx-font-family: "DejaVu Sans";
    -fx-background-color: #EAEAEA;
}

.HomeNavigationBtn:hover {
    -fx-background-color: #f7f7f7;
    -fx-cursor: hand;
}

/***************************************************************************
 *                                                                         *
 *                             RequestView                                 *
 *                                                                         *
 **************************************************************************/

#descriptionTxt{
    -fx-wrap-text: true;
}

#keyGenerationLbl{
    -fx-font-family: Cantarell;
    -fx-font-size: 30pt;
}

#generatedKeyFld{
    -fx-background-color: #e2e2e2;
    -fx-font-family: Monospaced;
    -fx-font-size: 30pt;
}

#additionalDescriptionTxt{
    -fx-wrap-text: true;
}

#centerBox{
    -fx-padding: 10, 20, 10, 20;
}
#bottomBox{
    -fx-padding: 10 ,20 ,1 ,20;
}

/***************************************************************************
 *                                                                         *
 *                             SupportView                                 *
 *                                                                         *
 **************************************************************************/

#SupporterView {
    -fx-padding: 5, 25, 5, 25;
}

#EnterTokenLbl {
    -fx-font-size: 25;
}

/***************************************************************************
 *                                                                         *
 *                             Settings Popover                            *
 *                                                                         *
 **************************************************************************/

#settingsBox {
    -fx-padding: 50;
}

.slider .thumb {
    -fx-pref-height: 25;
    -fx-pref-width: 25;
}

.slider .thumb:hover {
 -fx-cursor: hand;
}

.slider {
    -fx-border-color: white;
    -fx-border-style: dashed;
    -fx-border-width: 2;
}

.sliderTxts {
    -fx-font-size: 200%;

}

.sliderLbls {
 -fx-font-size: 150%;
}

.toggles:selected .thumb-area {
    -fx-background-color: #A7A7A7;
}
