/***************************************************************************
 *                                                                         *
 *                             HeaderView                                  *
 *                                                                         *
 **************************************************************************/

#header {
    -fx-background-color: #eeeeee; /* macarena */
    -fx-padding: 10;
}

#headerText {
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
    -fx-font-family: Cantarell;
}

#helpBtn, #backBtn, #settingsBtn{
    -fx-padding: 5;
    -fx-border-color: #d5d5d5;
    -fx-border-width: 3;
    -fx-border-radius: 7;
    -fx-background-radius: 7;
}

/***************************************************************************
 *                                                                         *
 *                             HomeView                                    *
 *                                                                         *
 **************************************************************************/

.HomeNavigationBtn{
    -fx-font-size: 18pt;
    -fx-fit-to-width: true;
    -fx-content-display: left;
}
/***************************************************************************
 *                                                                         *
 *                             HomePresenter                                    *
 *                                                                         *
 **************************************************************************/
#contentBox {
    -fx-padding: 25;
    -fx-spacing: 20;
    -fx-alignment: center;
}

/***************************************************************************
 *                                                                         *
 *                       RequestView & SupportView                         *
 *                                                                         *
 **************************************************************************/
.descriptionLbl{
    /*-fx-alignment: left;*/ /*FIXME: Throws IllegalArgumentException*/
    -fx-wrap-text: true;
}

.titleLbl {
    -fx-font-size: 25;
}

/***************************************************************************
 *                                                                         *
 *                             RequestView                                 *
 *                                                                         *
 **************************************************************************/



#keyGenerationLbl{
    /*-fx-alignment: left;*/
    -fx-font-family: Cantarell;
    -fx-font-size: 32pt;
    -fx-font-weight: bold;
}

#generatedKeyFld{
    -fx-background-color: #e2e2e2;
    -fx-font-family: Monospaced;
    -fx-font-size: 30pt;
}

#centerBox{
    -fx-alignment: center;
    -fx-padding: 10, 20, 10, 20;
    -fx-spacing: 150;
}

#bottomBox{
    -fx-padding: 10 ,20 ,1 ,20;
}

#keyGeneratingBox{
    -fx-alignment: center;
    -fx-spacing: 25;
    -fx-padding: 25;
}

#descriptionBox {       /* also used for SupportView */
    -fx-alignment: center;
    -fx-spacing: 50;
    -fx-padding: 25;
}

#readyBtn{
    -fx-alignment: bottom-right;
}

#reloadKeyBtn {
    -fx-padding: 13;
}

.titled-pane > .title {
    -fx-pref-height: 36.0;
    -fx-font-size: 14pt;

}

.supporterBtn {

}

/***************************************************************************
 *                                                                         *
 *                             SupportView                                 *
 *                                                                         *
 **************************************************************************/

#SupporterView {
    -fx-padding: 5, 25, 5, 25;
}

#centerBoxSupport {
    /*-fx-alignment: center;*/ /*FIXME: is doing nothing*/
}


/***************************************************************************
 *                                                                         *
 *                             Settings Popover                            *
 *                                                                         *
 **************************************************************************/

#settingsBox{
    -fx-padding: 50;
}

