Package: rscc
Source: rscc
Section: misc
Priority: extra
Architecture: all

Maintainer: Ronny Standtke <Ronny.Standtke@gmx.net>
Description: Remote Support Control Center
 A GUI for establishing and offering secure reverse VNC connections.
Homepage: http://www.imedias.ch/lernstick
Depends: java-runtime, xtightvncviewer, x11vnc, openssl, stunnel4
