Package: rscc
Version: 1.0
Section: net
Priority: optional
Architecture: Linux
Depends: jdk (>= 1.8)
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Description: Remote support tool for the Lernstick system.
Homepage: http://lernstick.ch
Distribution: development
Depends: default-jre | java8-runtime | debian
